<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Dashboard</title>

		<!-- load js libs -->
		<script src=""></script>
		
		<!-- load css -->
		<link href="" rel="stylesheet" />

		<!-- some page-specific js -->
		<script>
		</script>

		<!-- some page-specific styling -->
		<style>
		</style>
	</head>
	<body>
		<h1>Hello %username%</h1>
		<p style="margin: 3em; padding: 2em; border: solid 1px silver;">
			Your orders: %orders%
			<br>
			Your email: %email%
		</p>
		%table%
	</body>
</html>